@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, rgb(76, 153, 255), rgb(32, 106, 203));
  font-family: "VT323", monospace;
}

.signup-wrapper {
  background-color:rgb(255, 126, 126);
  width: 75%;
  padding: 50px;
  border: 2px solid rgb(177, 15, 15);
  border-radius: 10px;
  display: block;
  position: fixed;
  overflow: auto;
  text-align: center;
}

.go-back {
  width: 40px;
}

.go-back a{
  text-decoration: none;
  text-decoration-color: none;
}

.go-back span {
  font-size: 12mm;
  color: rgb(94, 3, 99);
}

.header {
  margin: auto;
  margin-left: 0px;
  margin-bottom: 20px;
}

.signup-input {
  font-family: "VT323", monospace;
  font-size: 18px;
  text-decoration-color: rgb(10, 10, 10);
  display: block;
  margin:auto;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color:rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-bottom: thick solid rgb(95, 37, 116);
  align-self: center;
}

.input-submit {
  background-color: rgb(90, 6, 193);
  color:rgb(255, 255, 255);
  width: 100px;
  height: 50px;
  margin: 10px;  
  border:2px solid rgb(188, 1, 1);
  border-radius: 20px;
  font-family: "VT323", monospace;
  font-size: 18px;
}

.error-message {
  font-size: 24px;
}

::placeholder {
  color: rgb(10, 10, 10);
  opacity: 1;
}
